<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
.container {
	max-width: 560px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h2>학생 등록 폼</h2>
		</div>
		<h4 class="mb-3">학생 입력</h4>
		<form action="student.html" th:object="${student}" th:action method="post">
			<div>
				<label for="studentName">학생명</label> 
				<input type="text" id="studentName" th:field="*{studentName}" 
					th:errorclass="field-error" name="studentName" class="form-control" 
					placeholder="이름을 입력하세요">
				<div class="field-error" th:errors="*{studentName}">상품명 오류</div>
			</div>
			<div>
				<label for="age">나이</label> 
				<input type="text" id="age" th:field="*{age}" 
					th:errorclass="field-error" name="age" class="form-control" 
					placeholder="나이를 입력하세요">
				<div class="field-error" th:errors="*{age}">나이 오류</div>
			</div>
			<div>
				<label for="subject">과목수</label> 
				<input type="text" id="subject" th:field="*{subject}" 
					th:errorclass="field-error" name="subject" class="form-control" 
					placeholder="과목수를 입력하세요">
				<div class="field-error" th:errors="*{subject}">과목수 오류</div>
			</div>
			<div>
				<label for="phone">전화번호</label> 
				<input type="text" id="phone" th:field="*{phone}" 
					th:errorclass="field-error"name="phone" class="form-control" 
					placeholder="전화번호를 입력하세요">
				<div class="field-error" th:errors="*{phone}">전화번호 오류</div>
			</div>
			<div>
				<label for="addr">주소</label> 
				<input type="text" id="addr" th:field="*{addr}" 
					th:errorclass="field-error"name="addr" class="form-control" 
					placeholder="주소를 입력하세요">
				<div class="field-error" th:errors="*{addr}">나이 오류</div>
			</div>
			<hr class="my-4">
			<div class="row">
				<div class="col">
					<button class="w-100 btn btn-primary btn-lg" type="submit">
						학생등록
					</button>
				</div>
				<div class="col">
					<button class="w-100 btn btn-secondary btn-lg" 
					onclick="location.href='students.html'" 
					th:onclick="|location.href='@{/basic/students}'|"
					type="button">
						취소
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /container -->
	
	<script>
		function val(){
			if( document.getElementById("studentName").value == "" ){
				alert("이름을 넣어주세요");
				return false;
			}
		}
	</script>
</body>
</html>