<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container" style="max-width: 600px">
		<div class="py-5 text-center">
			<h2>학생 목록</h2>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary float-end" 
				onclick="location.href='studentAddForm.html'"
				th:onclick="|location.href='@{/basic/students/add}'|" 
				type="button">
					학생 등록
				</button>
			</div>
		</div>
		<hr class="my-4">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>학번</th>
						<th>학생명</th>
						<th>나이</th>
						<th>과목수</th>
						<th>전화번호</th>
						<th>주소</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="student.html">1</a></td>
						<td><a href="student.html">학생A</a></td>
						<td>20</td>
						<td>5</td>
						<td>01012345678</td>
						<td>역삼1동</td>
					</tr>
					<tr>
						<td><a href="student.html">2</a></td>
						<td><a href="student.html">학생B</a></td>
						<td>22</td>
						<td>5</td>
						<td>01012345678</td>
						<td>역삼2동</td>
					</tr>
					<tr th:each="student : ${students}">
						<td>
							<a href="student.html"
							   th:href="@{/basic/students/{studentId}(studentId=${student.id})}"
							   th:text="${student.id}">학생id</a>
						</td>
						<td>
							<a href="student.html"
							   th:href="@{|/basic/students/${student.id}|}"
							   th:text="${student.studentName}">학생B</a>
						</td>
						<td th:text="${student.age}">
							22
						</td>
						<td th:text="${student.subject}">
							5
						</td>
						<td th:text="${student.phone}">
							01012345678
						</td>
						<td th:text="${student.addr}">
							역삼2동
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	<!-- /container -->
</body>
</html>